*{
  margin : 0;
  padding : 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .App {
    text-align: center;
    background: linear-gradient(to bottom right, #9933ff 0%, #ff99cc 100%);
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .App {
    height: 100vh;
    text-align: center;
    background-image: url(./images/Bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }